<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Recorder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="NeedToConfig" value="1" />
    <add key="GhostScriptPath" value="C:\Program Files\gs\gs9.04\bin\gswin32c.exe"/>
    <add key="abcm2psPath" value="C:\Program Files\RecorderRecorder\RecorderRecorder\abcm2ps-5.9.24\abcm2ps.exe" />
  </appSettings>
  <userSettings>
    <Recorder.Properties.Settings>
      <setting name="NeedToConfig" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GhostScriptPath" serializeAs="String">
        <value>C:\Program Files\gs\gs9.04\bin\gswin32c.exe</value>
      </setting>
      <setting name="abcm2psPath" serializeAs="String">
        <value>C:\Program Files\RecorderRecorder\RecorderRecorder\abcm2ps-5.9.24\abcm2ps.exe</value>
      </setting>
    </Recorder.Properties.Settings>
  </userSettings>
</configuration>