<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="NeedToConfig" value="1" />
    <add key="GhostScriptPath" value="C:\Program Files\gs\gs9.04\bin\gswin32c.exe" />
    <add key="abcm2psPath" value="C:\Program Files\RecorderRecorder\RecorderRecorder\abcm2ps-5.9.24\abcm2ps1.exe" />
  </appSettings>
</configuration>